<h3>{{viewtitle}}</h3>

<form action="/employee" method="POST">

    <div class="form-group">
        <label>full name</label>
        <input type="text" class="form-control" name="fullname" placeholder="fullname">
    </div>

     <div class="form-group">
        <label>email</label>
        <input type="email" class="form-control" name="email" placeholder="fullname">
    </div>
     <div class="form-group">
        <label>mobile</label>
        <input type="number" class="form-control" name="mobile" placeholder="fullname">
    </div>
     <div class="form-group">
        <label>city</label>
        <input type="text" class="form-control" name="city" placeholder="fullname">
    </div>
     <div class="form-group">
        
        <button type="submit" class="btn btn-info">submit</button>
    </div>
</form>